.fix {
    position:fixed;
    animation: down 0.5s ease;
    background : #fff;
    opacity:0.8;
    width : 100%;
    margin-top : -38px; 
}


@keyframes down {
    0%{
        transform: translateY(-50px)
    }
    100%{
        transform: translateY(0px)
    }
}

#hide1{
    opacity:0;
    margin-left:-300px;    
    max-width:100%;
}

#hide2{
    opacity:0;
    margin-left:600px;    
    max-width:100%;
}

.zoom_image img {
    transform:scale(1);
    transition:all 0.5s;
}

.zoom_image:hover img {
    transform:scale(1.15);
}

.zoom_image_in { overflow:hidden; }

.zoom_image_in img {
    transform:scale(1);
    transition:all 0.5s;
}

.zoom_image_in:hover img {
    transform:scale(1.2);
}

.hp-room-items .hp-room-item .hr-text {
    bottom: -200px;
}

.menu-item .nav-menu .mainmenu li a:after, .primary-btn:after, .blog-item .bi-text .b-tag,
.footer-section .footer-text .ft-newslatter .fn-form button, .bd-hero-text span,
.blog-details-text .leave-comment .comment-form button {
    background : #38b6ff;
}

.booking-form form button {
    border: 1px solid #38b6ff;
    color : #38b6ff;
}

.section-title span, .hp-room-items .hp-room-item .hr-text h2,
.footer-section .footer-text .ft-contact h6, .footer-section .footer-text .ft-newslatter h6,
.bd-hero-text ul li, .icon_calendar:before, .service-item i,
.fa-phone:before, .fa-envelope:before, .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a:hover  {
    color : #38b6ff;
}

.service-item:hover {
    background : #78cdff;
}

.footer-section .footer-text .ft-about .fa-social a:hover {
    background: #38b6ff;
    border-color: #38b6ff;
}

.service-item h4, .testimonial-slider .ts-item .ti-author h5,
.mini_tab_menu_title{
    font-family: "Cabin", sans-serif;
}

.booking-form form .select-option .nice-select:after {
    border-bottom: 2px solid #38b6ff;
    border-right: 2px solid #38b6ff;
}

.star {
    position: relative;
    font-size: 1.5rem;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: #ffe000;
    overflow: hidden;
    pointer-events: none;
}

.menu-item .nav-menu .mainmenu li a, input::placeholder {
    color : #fff;
}


#best_review_content {
    height: 100px; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: normal; 
    text-align: left;
    display: -webkit-box; 
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    color : #707079;
}

#bed_service {
    
    height: 30px; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: normal; 
    text-align: left;
    display: -webkit-box; 
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
    
.zoom_image {
    transform:scale(1);
    transition:all 0.5s;
}

.zoom_image:hover, .menu-item .nav-menu .mainmenu .mini li:hover>a:after {
    transform:scale(1.23);
}

#book_div {
    opacity : 0;
}

.layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#selectBookTypeForm, #bookConfirmForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

#search_non_member_book {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

a:hover {
    text-decoration: none!important
}

.btn-default {
    border-color: none;
}


.moblie_menu_button {
	border: 1px solid #38b6ff;
    color : #38b6ff;
	background : #fff;
	border-radius: 50px;
	width : 100%;
}


.moblie_menu_button:hover {
	border: 1px solid #78cdff;
    color : #fff;
	background : #78cdff;
	border-radius: 50px;
	width : 100%;
}



.top_menu_item {
	padding: 20px;
	font-weight:lighter; 
	font-size : 10pt;
	color : #fff;
}
	
.top_menu_item:hover {
	color : #fff;
}

.slicknav_nav a:hover {
	color : #fff;
	background : #78cdff;
}

.slicknav_nav a {
	color: #78cdff;
}